<div class="columns is-multiline is-mobile is-centered">
    {% for device in devices %}
    {% set device_index = loop.index0 %}
    {% set device_kind = device.description.kind %}
    <div class="column">
        <div class="card">
            <header class="card-header has-background-success-55">
                <p class="card-header-title is-centered has-text-centered is-size-5-mobile">
                    <font class="is-size-6-mobile">{{ device_kind }} Device</font>
                    <button class="info-icon js-modal-trigger pl-1 pt-0" data-target="modal-{{ device_kind }}-{{ device_index }}">
                        <span class="icon is-size-6-mobile">
                            <i class="fas fa-info-circle" aria-hidden="true"></i>
                        </span>
                    </button>
                    <button class="info-icon js-modal-trigger pl-1 pt-0" data-target="modal-{{ device_kind }}-{{ device_index }}-edit">
                        <span class="icon is-size-6-mobile">
                            <i class="fas fa-edit" aria-hidden="true"></i>
                        </span>
                    </button>
                </p>
            </header>
            <div class="card-content has-text-centered">
                {% if device_kind == "Light" %}
                   {% include "light" %}
                {% elif device_kind == "Unknown" %}
                   {% include "unknown" %}
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
