<div class="grid">
    {% for device in devices %}
    <div class="cell">
        <div class="card">
            <header class="card-header has-background-success">
                <p class="card-header-title is-centered has-text-centered is-size-5-mobile">
                    <font class="is-size-6-mobile has-text-black">{{ device.description.kind }} Device</font>
                    <button class="info-icon js-modal-trigger pl-1 pt-0" data-target="modal-{{ device.description.kind }}-{{ loop.index0 }}">
                        <span class="icon is-size-6-mobile">
                            <i class="fas fa-info-circle" aria-hidden="true"></i>
                        </span>
                    </button>
                </p>
            </header>
            <div class="card-content has-text-centered">
                <div class="card">
                    <header class="card-header has-background-success">
                        <p class="card-header-title is-centered has-text-centered is-size-5-mobile">
                            <font class="is-size-6-mobile has-text-black">{{ device.description.kind }} Route</font>
                            <button class="info-icon js-modal-trigger pl-1 pt-0" data-target="modal-{{ device.description.kind }}-{{ loop.index0 }}">
                                <span class="icon is-size-6-mobile">
                                    <i class="fas fa-info-circle" aria-hidden="true"></i>
                                </span>
                            </button>
                        </p>
                    </header>
                    <div class="card-content has-text-centered"></div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
