<div class="card">
    <header class="card-header has-background-success is-shadowless">
        <p class="card-header-title is-centered has-text-centered is-size-5-mobile">
            <font class="is-size-6-mobile">{{ device.data.kind }}</font>
            <button class="info-icon" data-target="modal-{{ device.data.kind }}-{{ device.metadata.id }}">
                <span class="icon has-text-white-bis is-size-6-mobile">
                    <i class="fas fa-info-circle" aria-hidden="true"></i>
                </span>
            </button>
        </p>
    </header>
    <div class="card-content has-text-centered">
        <div class="field is-grouped is-grouped-multiline is-grouped-centered">
        {{#each device.data.routes as |route|}}
        {{#each route.hazards as |hazard|}}
           <p class="control">
               <button class="hazards" data-target="hazard-{{hazard.id}}">
                   {{#if (eq hazard.category.name "Safety")}}
                   <span class="tag is-medium is-danger">
                   {{/if}}
                   {{#if (eq hazard.category.name "Financial")}}
                   <span class="tag is-medium is-warning">
                   {{/if}}
                   {{#if (eq hazard.category.name "Privacy")}}
                   <span class="tag is-medium is-info">
                   {{/if}}
                       {{hazard.name}}
                   </span>
               </button>
           </p>
        {{/each}}
        {{/each}}
        </div>

        <form id="form-{{ device.metadata.id }}" action="device/{{ device.metadata.id }}" method="post">
            <input type="hidden" name="_method" value="put">
            <!-- SLIDERS -->
            {{#each device.state_controls.sliders_u64 as |slider| }}
            <div class="field is-centered">
                <label class="label">{{ slider.name }}</label>
                <div class="control">
                    <input type="hidden" name="slidersu64[{{ slider.name }}]route" value="{{slider.route_id}}">
                    <input type="range" name="slidersu64[{{ slider.name }}]val" min="{{ slider.min }}" max="{{ slider.max }}" step="{{ slider.step }}" value="{{ slider.value }}" onchange="sendForm('send-{{ device.metadata.id }}')">
                </div>
            </div>
            {{/each}}
            {{#each device.state_controls.sliders_f64 as |slider| }}
            <div class="field is-centered">
                <label class="label">{{ slider.name }}</label>
                <div class="control">
                    <input type="hidden" name="slidersf64[{{ slider.name }}]route" value="{{slider.route_id}}">
                    <input type="range" name="slidersf64[{{ slider.name }}]val" min="{{ slider.min }}" max="{{ slider.max }}" step="{{ slider.step }}" value="{{ slider.value }}" onchange="sendForm('send-{{ device.metadata.id }}')">
                </div>
            </div>
            {{/each}}
            <!-- CHECKBOXES -->
            <div class="field is-grouped is-grouped-centered">
                {{#each device.state_controls.checkboxes as |checkbox|}}
                    <div class="control">
                        <label class="checkbox">
                            <input type="hidden" name="checkboxes[{{ checkbox.name }}]route" value="{{checkbox.route_id}}">
                            <input type="checkbox" name="checkboxes[{{ checkbox.name }}]val" value="{{ checkbox.value }}" {{#if checkbox.value }} checked {{/if}} onclick="sendForm('send-{{ device.metadata.id }}')">
                            {{ checkbox.name }}
                        </label>
                    </div>
                {{/each}}
            </div>
            <!-- BUTTONS -->
            <div class="field is-grouped is-grouped-multiline is-grouped-centered">
                {{#each device.state_controls.buttons as |button|}}
                <div class="control">
                    <input type="hidden" name="buttons[{{ button.name }}]route" value="{{button.route_id}}">
                    <button class="button{{#if button.with_state }} is-warning {{/if}}" name="buttons[{{ button.name }}]val" value="{{ button.with_state }}" type="submit">{{ button.name }}</button>
                </div>
                {{/each}}
            </div>
            <!-- SEND FORM ON CHANGE -->
            <div hidden><input id="send-{{ device.metadata.id }}" type="submit" value=""></div>
        </form>
    </div>
</div>
