{% from "spinner" import spinner, spinner_js %}

{% macro route_define(device_id, name, route) %}

<div class="pill-button pill-primary-border">
    <form action="/request" method="post">
        <input type="hidden" name="device_id" value="{{ device_id }}">
        <input type="hidden" name="route" value="{{ name }}">
        <button class="pill-text pill-primary {% if route.data.is_disabled %}button-disabled{% endif %}"
        type="submit"
        {% if route.data.is_disabled %}disabled{% endif %}>
            <span>{{ route.metadata.name }}</span>
        </button>
    </form>
    <span class="pill-divider"></span>
    <span class="pill-icon open-request-modal-{{ device_id }} {% if route.data.is_disabled %}button-disabled{% endif %}"
        data-id="{{ route.data.id }}"
        {% if route.data.is_disabled %}data-disabled="true"{% endif %}>
        <svg width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="1.5"/>
            <path d="M12 17V11" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
            <circle cx="1" cy="1" r="1" transform="matrix(1 0 0 -1 11 9)" fill="currentColor"/>
        </svg>
    </span>
</div>
{% endmacro %}

{% macro route_modal(device, route) %}
<div class="modal-overlay" id="request-modal-{{device.id}}{{route.data.id}}">
    <div class="modal">
        <div class="content">
            <h2>{{ device.route_title_description }}</h2>
            <p>{{ route.metadata.description }}</p>
            {% if route.data.hazards | length > 0 %}
                <h2>{{ device.hazard_title_description }}</h2>
                <div class="pill-container">
                    {% for hazard in route.data.hazards %}
                    {%- set category = hazard.category_name | lower -%}
                    <div class="pill-button hazard-{{ category }}-border">
                    <button
                        type="button"
                        class="pill-text hazard-{{ category }} {% if hazard.is_disabled %}button-disabled {%- endif -%}">
                            <span>{{ hazard.name }}</span>
                        </button>
                        <span class="pill-divider"></span>
                        <span class="pill-icon hazard-info" data-name="{{ hazard.name}}" data-description="{{ hazard.description }}" data-border="info-box-{{ category }}">
                            <svg width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="1.5"/>
                                <path d="M12 17V11" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
                                <circle cx="1" cy="1" r="1" transform="matrix(1 0 0 -1 11 9)" fill="currentColor"/>
                            </svg>
                        </span>
                    </div>
                    {% endfor %}
                    <div class="info-box" data-id="0">
                        <h3></h3>
                        <p></p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endmacro %}

<section class="device-section">
    <div class="container">
        <div class="cards-grid">
            {% for device in devices %}
            <div id="card-{{ device.id }}" class="card">
                <div class="card-header">
                    <button class="info-button open-device-modal" aria-label="Info">
                        <svg width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="1.5"/>
                            <path d="M12 17V11" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
                            <circle cx="1" cy="1" r="1" transform="matrix(1 0 0 -1 11 9)" fill="currentColor"/>
                        </svg>
                    </button>
                </div>
                <div class="card-content">
                    <div class="icons">
                        <img id="light-icon-{{ device.id }}" src="/assets/svg/light-off.svg" class="light-icon">
                        <div class="temperature">
                            <img src="/assets/svg/thermometer.svg" class="temperature-icon">
                            <p id="temperature-{{ device.id }}">--°C</p>
                        </div>
                    </div>
                    <h3>{{ device.modes }}</h3>
                    <div class="modes">
                        {% set manual_selected = "" %}
                        {% set motion_detection_selected = "" %}
                        {% set ambient_light_selected = "" %}
                        {% if device.mode == "Manual" %}
                            {% set manual_selected = " selected" %}
                        {% elif device.mode == "MotionDetection" %}
                            {% set motion_detection_selected = " selected" %}
                        {% else %}
                            {% set ambient_light_selected = " selected" %}
                        {% endif %}
                        <form action="/request" method="post">
                            <input type="hidden" name="device_id" value="{{ device.id }}">
                            <input type="hidden" name="device_state" value="{{ device.state_routes.manual_mode }}">
                            <input type="hidden" name="route" value="{{ device.state_routes.manual_route }}">
                            <button class="mode{{ manual_selected }}" type="submit">{{ device.state_routes.manual }}</button>
                        </form>
                        <form action="/request" method="post">
                            <input type="hidden" name="device_id" value="{{ device.id }}">
                            <input type="hidden" name="device_state" value="{{ device.state_routes.motion_detection_mode }}">
                            <input type="hidden" name="route" value="{{ device.state_routes.motion_detection_route }}">
                            <button class="mode{{ motion_detection_selected }}" type="submit">{{ device.state_routes.motion_detection }}</button>
                        </form>
                        <form action="/request" method="post">
                            <input type="hidden" name="device_id" value="{{ device.id }}">
                            <input type="hidden" name="device_state" value="{{ device.state_routes.ambient_light_mode }}">
                            <input type="hidden" name="route" value="{{ device.state_routes.ambient_light_route }}">
                            <button class="mode{{ ambient_light_selected }}" type="submit">{{ device.state_routes.ambient_light }}</button>
                        </form>
                    </div>
                    <h3>{{ device.commands }}</h3>
                    <div class="button-container">
                        {{ route_define(device.id, "/on", device.routes["/on"]) }}
                        {{ route_define(device.id, "/off", device.routes["/off"]) }}
                        {{ route_define(device.id, "/toggle", device.routes["/toggle"]) }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <form id="spinner" action="{{ discovery_route }}" method="post">
            <button id="discovery" class="button button-info button-medium" type="submit">{{ discovery_button }}</button>
        </form>
    </div>
</section>

{{ spinner(spinner_text) }}

{% for device in devices %}
<div class="modal-overlay" id="device-modal-{{ device.id }}">
    <div class="modal">
        <div class="content">
            <h2>{{ device.title_description }}</h2>
            <p>{{ device.description }}</p>
        </div>
    </div>
</div>

{{ route_modal(device, device.routes["/on"]) }}
{{ route_modal(device, device.routes["/off"]) }}
{{ route_modal(device, device.routes["/toggle"]) }}

{% endfor %}

{{ spinner_js() }}

<script type="module">

{% for device in devices %}
    {% if device.has_events %}
        let eventSource{{ device.id }};
    {% endif %}
{% endfor %}

document.addEventListener("DOMContentLoaded", () => {
    // Select all forms that send requests to devices
    const requestForms = document.querySelectorAll('form[action="/request"]');

    requestForms.forEach(form => {
        form.addEventListener('submit', async (e) => {
            // Prevent the page from reloading
            e.preventDefault();

            const formData = new FormData(form);
            const action = form.getAttribute('action');

            try {
                // Send the data to the server in the background (without reloading the page)
                await fetch(action, {
                    method: 'POST',
                    body: new URLSearchParams(formData),
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    }
                });

                // If the form is inside the "modes" section, visually update the 'selected' class
                if (form.closest('.modes')) {
                    const buttons = form.closest('.modes').querySelectorAll('button');
                    buttons.forEach(btn => btn.classList.remove('selected'));
                    form.querySelector('button').classList.add('selected');
                }
            } catch (error) {
                console.error("Error while sendind the command:", error);
            }
        });
    });

    {% for device in devices %}
        {% if device.has_events %}

            function updateDeviceState(events) {
                // Parse the JSON data
                const eventsData = JSON.parse(events);

                // Update light icon.
                const lightIcon = document.getElementById("light-icon-{{ device.id }}");
                lightIcon.src = eventsData.is_light_on === true
                    ? "/assets/svg/light-on.svg"
                    : "/assets/svg/light-off.svg";

                // Update the temperature.
                const temperature = document.getElementById("temperature-{{ device.id }}");
                const tempValue = eventsData.temperature;
                temperature.textContent =
                typeof tempValue === "number" && tempValue !== 274
                ? `${tempValue.toFixed(1)}°C`
                : "--°C";
            }

            const card = document.getElementById("card-{{ device.id }}");

            if (card) {
                // Retrieve the last events
                let lastEvents = localStorage.getItem('lastEvents') || null;

                // Show the last events and update the state
                if (lastEvents !== null) {
                    console.log('Last events:', lastEvents);
                    // Update device state
                    updateDeviceState(lastEvents);
                }

                // Start listening to the events
                eventSource{{ device.id }} = new EventSource("/events/{{ device.id }}");

                if (eventSource{{ device.id }}) {
                    eventSource{{ device.id }}.onmessage = function(event) {
                        // Store the events in local storage
                        localStorage.setItem('lastEvents', event.data);

                        // Update device state
                        updateDeviceState(event.data);
                    };

                    eventSource{{ device.id }}.onerror = function(event) {
                        console.error("EventSource for device {{ device.id }} failed:");
                        if (eventSource{{ device.id }}) {
                          eventSource{{ device.id }}.close();
                          console.log("EventSource closed for device {{ device.id }}.");
                        }
                    };
                }
            }
        {% endif %}
    {% endfor %}
});

// Stop listening to events
document.getElementById("discovery").onclick = function() {
    {% for device in devices %}
        {% if device.has_events %}
            if (eventSource{{ device.id }}) {
                eventSource{{ device.id }}.close();
                console.log("EventSource closed for device {{ device.id }}.");
            }
        {% endif %}
    {% endfor %}
};

// Always close the events source on page unload
window.addEventListener("beforeunload", () => {
    {% for device in devices %}
        {% if device.has_events %}
            if (eventSource{{ device.id }}) {
                eventSource{{ device.id }}.close();
            }
        {% endif %}
    {% endfor %}
});

/* === Modals === */
function openModal(modal) {
    modal.style.display = 'flex';
    // Prevent background scrolling
    document.body.classList.add('modal-open');
}

function closeModal(modal) {
    modal.style.display = 'none';
    document.body.classList.remove('modal-open');
}

const openDevicesModal = document.querySelectorAll('.open-device-modal');
openDevicesModal.forEach((openDeviceModal, deviceIndex) => {
    const deviceModal = document.getElementById(`device-modal-${deviceIndex}`);

    openDeviceModal.addEventListener('click', () => {
        openModal(deviceModal);
    });

    deviceModal.addEventListener('click', (e) => {
        if (e.target === deviceModal) {
            closeModal(deviceModal);
        }
    });

    const openRequestsModal = document.querySelectorAll(`.open-request-modal-${deviceIndex}`);

    openRequestsModal.forEach(openRequestModal => {
        const id = openRequestModal.dataset.id;
        const requestModal = document.getElementById(`request-modal-${deviceIndex}${id}`);

        openRequestModal.addEventListener('click', () => {
            if (openRequestModal.dataset.disabled === "true") return;
            openModal(requestModal);
        });

        requestModal.addEventListener('click', (e) => {
            if (e.target === requestModal) {
                const hazardBox = requestModal.querySelector('.info-box');
                if (hazardBox) {
                    hazardBox.classList.remove('show');
                }
                closeModal(requestModal);
            }
        });
    });
});

/* === Hazards === */
const hazardsInfo = document.querySelectorAll(".hazard-info");
hazardsInfo.forEach((hazardInfo, hazardInfoIndex) => {
    hazardInfo.addEventListener("click", () => {
        const id = String(hazardInfoIndex);

        const name = hazardInfo.dataset.name;
        const description = hazardInfo.dataset.description;
        const borderColor = hazardInfo.dataset.border;

        const hazardBox = hazardInfo.parentElement.parentElement.querySelector('.info-box');
        const isVisible = hazardBox.classList.contains('show');

        const h3 = hazardBox.querySelector('h3');
        const p = hazardBox.querySelector('p');

        h3.textContent = name;
        p.textContent = description;

        // Remove any existing border color classes
        hazardBox.classList.forEach(cls => {
            if (cls !== 'info-box' && cls !== 'show') {
                hazardBox.classList.remove(cls);
            }
        });

        // Toggle visibility and current border class
        if (isVisible && hazardBox.dataset.id === id) {
            hazardBox.classList.remove('show');
        } else {
            hazardBox.classList.add('show');
            hazardBox.classList.add(borderColor);
            hazardBox.dataset.id = id;
        }
    });
});
</script>
