{% extends "layout" %}
{% block page %}
<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1 has-text-danger">{{ description }}</h1>
            <p class="mt-5">
                <code class="has-text-warning">{{ error_message }}</code>
            </p>
            <a class="button has-background-success-55 is-responsive is-large is-size-5-mobile mt-5" href="/">
                {{ goto_message }}
            </a>
        </div>
    </div>
</section>
{% endblock %}
