<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title }}</title>

    <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="/assets/icons/favicon-512x512.svg" />
    <link rel="icon" type="image/png" href="/assets/icons/favicon-96x96.png" />
    <link rel="alternate icon" type="image/png" href="/assets/icons/favicon-48x48.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/favicon-180x180.png" />
    <link rel="manifest" href="/assets/icons/site.webmanifest" />

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/tosca-app.css" />
</head>
