{% extends "layout" %}
{% block page %}
<section class="section is-fullheight">
    <div class="container">
        {% if devices | length == 0 %}
            <h2 class="subtitle has-text-centered is-2 is-size-3-mobile mt-5 px-2">{{ no_devices_message }}</h2>
        {% else %}
            {% include "create-devices" %}
        {% endif %}

        <!-- BUTTON TO DISCOVER NEW DEVICES -->
        <form class="field has-text-centered pt-5 mt-5" action="{{ discover_route }}" method="post">
            <p class="control">
                <button class="button has-background-success-55 is-large is-size-5-mobile is-responsive" type="submit">{{ discover_message }}</button>
            </p>
        </form>
    </div>
</section>

    {% include "modal-devices" %}

    {% include "modal-hazards" %}
{% endblock %}
