<p class="mb-4">TODO -&gt; Light Functional State: On / Off / Unknown</p>

{% for request in device.requests %}
{% set route = device.requests[request] %}
<div class="card">
    <header class="card-header has-background-success-50">
        <p class="card-header-title is-centered has-text-centered is-size-5-mobile">
            <font class="is-size-6-mobile">{{ request }}</font>
            <button class="js-modal-trigger pl-1 pt-0" data-target="modal-{{ device.description.kind }}-{{ device_index }}-{{ loop.index0 }}">
                <span class="icon is-size-6-mobile">
                    <i class="fas fa-info-circle"></i>
                </span>
            </button>
        </p>
    </header>
    <div class="card-content">

        <div class="field is-grouped is-grouped-centered is-grouped-multiline">
        {% for hazard in route.hazards %}
        {% set category = hazard_category(hazard) %}
            <div class="control">
                <div class="tags are-medium">
                   <button class="js-modal-trigger" data-target="hazard-{{ hazard_id(hazard) }}">
                       {% if category == "Safety" %}
                       <span class="tag is-hoverable is-danger">
                       {% elif category == "Financial" %}
                       <span class="tag is-hoverable is-warning">
                       {% else %}
                       <span class="tag is-hoverable is-info">
                       {% endif %}
                       {{ hazard_name(hazard) }}
                       </span>
                   </button>
                </div>
            </div>
        {% endfor %}
        </div>

        {% include "parameters" %}

        {% include "response" %}

    </div>
</div>
{% endfor %}
