{% for hazard in hazards %}
<div id="hazard-{{ hazard.id }}" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      <div class="content">
          <h1 class="has-text-centered"><code>{{ hazard.name }}</code></h1>

          <h2>Description</h2>
          <p>{{ hazard.description }}</p>
          <p>This hazard is of type <code>{{ hazard["category name"] }}</code>,
          the {{ hazard["category description"] | lower }}</p>
      </div>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>
{% endfor %}
