{% for device in devices %}
<div id="modal-{{ device.description.kind }}-{{ loop.index0 }}" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
      <header class="modal-card-head">
          <p class="modal-card-title">{{ device.description.kind }} Device</p>
          <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
          <p>Main Route: {{ device.description.main_route }}</p>
      </section>
  </div>
</div>
{% endfor %}
