<nav class="navbar" id="home" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="navMenu" class="navbar-menu pb-0">
        <div class="navbar-start">
            <a class="navbar-item has-text-centered" href="#obiettivi">
                Dispositivi
            </a>
            <a class="navbar-item has-text-centered" href="./policy.html">
                Policy
            </a>
        </div>
        <div class="navbar-end is-flex is-align-items-center is-justify-content-center">
        </div>
    </div>
</nav>
