{% macro input_number(parameter, name) -%}
    {% if parameter[name] %}
        {% set data = parameter[name] %}
        <input type="hidden" name="ids" value="{{ name }}">
        <input type="number"
               value="{{ data.default }}"
               min="{{ data.min }}"
               max="{{ data.max }}"
               name="values"
        >
    {% endif %}
{%- endmacro %}

{% macro input_float(parameter, name, parameter_index) -%}
    {% if parameter[name] %}
        {% set data = parameter[name] %}
        <input type="hidden" name="ids" value="{{ name }}">
        <input type="number"
               value="{{ data.default }}"
               min="{{ data.min }}"
               max="{{ data.max }}"
               step={% if data.step == 0 %} "any" {% else %} "{{ data.step }}" {% endif %}
               name="values"
        >
    {% endif %}
{%- endmacro %}

{% macro input_range(parameter, name, parameter_index) -%}
    {% if parameter[name] %}
        {% set data = parameter[name] %}
        <input type="hidden" name="ids" value="{{ name }}">
        <input type="range"
               min="{{ data.min}}"
               max="{{ data.max }}"
               value="{{ data.default }}"
               step="{{ data.step }}"
               name="values"
        >
    {% endif %}
{%- endmacro %}


{% for parameter_name in route.parameters_data %}
{% set parameter = route.parameters_data[parameter_name] %}
<input type="hidden" name="names" value="{{ parameter_name }}">
<label class="label mt-5">{{ parameter_name | title }}</label>
   <div class="field">
        <div class="control">
            {% if parameter["Bool"] %}
                <input type="hidden" name="ids" value="Bool">
                <input type="checkbox" name="values">
            {% endif %}

            {{ input_number(parameter, "U8") }}
            {{ input_number(parameter, "U16") }}
            {{ input_number(parameter, "U32") }}
            {{ input_number(parameter, "U64") }}
            {{ input_float(parameter, "F32") }}
            {{ input_float(parameter, "F64") }}
            {{ input_range(parameter, "RangeU64") }}
            {{ input_range(parameter, "RangeF64") }}

            {% if parameter["CharsSequence"] %}
                {% set data = parameter["CharsSequence"] %}
                <input type="hidden" name="ids" value="CharsSequence">
                <input type="text"required
                       minlength="0"
                       maxlength="{{ data.length }}"
                       size="10"
                       name="values"
                >
            {% endif %}
        </div>
    </div>
{% endfor %}
